<h1>index page</h1>

<ul>

  <% @questions.each do |question| %>
    <li><%= link_to question.name, question_path(question) %>
    </li>
  <% end %>

</ul>


<%= link_to "New Question", new_question_path %>
<%= link_to "New User", new_user_path %>
